<h3 class="mt-2" style="margin-left: 2em;">Usuarios: {{ param }}</h3>
<div class="row" *ngIf="users.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No hay usuarios registrados con el parametro
        </div>
    </div>
</div>
<div class="container mt-3" *ngIf="users.length != 0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <button type="button" class="btn btn-secondary" style="margin-right: 1em;" [routerLink]="['/manage',user.id]">+</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="targetUser(user)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta seguro que desea eliminar el usuario {{ delName }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </div>
</div>